<form method="GET" action="/prehistoric_creatures">
    <label for="nameFilter">Filter by Name</label>
    <input id="nameFilter" type="text" name="nameFilter">
    <input type="submit">
</form>

<ul>
    <% myPreHist.forEach((pre)=>{ %>
        <li><%= pre.type %> </br></br> <img src= "<%= pre.img_url %>" height="300px"> </li>
    <% }) %> 
</ul>