<form method="POST" action="/prehistoric_creatures">
    <label for="preHistType">Type</label>
    <input id="preHistType" type="text" name="type">

    <label for="preHistName">Name</label>
    <input id="preHistName" type="text" name="name">

    <input type="submit">
</form>